@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --bg-color: #020305;
  --color-text: #ffffff;
  --color-text-secondary: #d3d3d3;
  --bg-botao-color: #fff;
  --color-text-botao: #000;
  --border-botao-color: #ccc;
  --bg-card: #e7e5e4;
  --bg-card-hover: #ff6600;
  --bg-botao-card: #0e0e0e;
}

html,
body {
  background-color: var(--bg-color);
  height: 100%;
  transition: 0.3s;
}

/* Header ul li links */

#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
}

#menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: .5rem;
}

#menu .links-container {
  display: block;
  padding: .5rem;

}

#btn-mobile {
  display: none;
}

.img-logo {
  width: 130px;
}

.links-container {
  color: var(--color-text);
  padding: 30px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.links-container:hover {
  transform: scale(1.1);
}

input {
  background-color: var(--color-text);
}

.carrinho-container {
  width: 360px;
  height:  520px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Main Container principal */
.container-principal {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.titulo-nike-air-max {
  color: var(--color-text);
  font-size: 40px;
  align-items: center;
  margin-top: 100px;
  font-weight: 400;
}

.texto-descricao {
  color: var(--color-text-secondary);
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: 400;
}



.btn-comprar {
  background-color: var(--bg-botao-color);
  color: var(--color-text-botao);
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  border-radius: 150px;
  cursor: pointer;
  border: 1px solid var(--border-botao-color);
}

.btn-comprar:hover {
  background-color: var(--bg-color);
  color: var(--color-text);
  cursor: pointer;
  border: 1px solid var(--color-text);
}

.img-tenis {
  width: 450px;
  cursor: pointer;
  border-radius: 250px;
}

.conteudo-2 {
  margin-top: 100px;
}

.titulo-novidades {
  text-align: center;
  color: var(--color-text);
}

.cards-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.card {
  width: 250px;
  margin-left: 20px;
  background-color: var(--bg-card);
  margin-top: 30px;
  border-radius: 20px;
}

.card:hover {
  background-color: var(--bg-card-hover);
  color: var(--color-text);
  transition: 0.4s;
}

.translateY:hover {
  transform: translateY(-15px);
  transition: 0.6s;
}

.tenis {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.nome-do-tenis,
.preços {
  text-align: center;
  margin-top: 20px;
}

.preços {
  font-weight: 700;
  font-size: 1.3rem;
}

.btn-comprar-1 {
  background-color: var(--bg-botao-card);
  color: var(--color-text);
  width: 150px;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid var(--color-text);
  margin-left: 40px;
}

.btn-comprar-1:hover {
  background-color: var(--color-text);
  color: var(--bg-color);
}

.conteudo-3 {
  margin-top: 100px;
}

.titulo-colecao {
  color: var(--color-text);
  text-align: center;
}

.cards-container-colecao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-colecao {
  height: 400px;
  width: 300px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 40px;
  background-color: var(--color-text-secondary);
}

.card-colecao:hover {
  background-color: var(--bg-card-hover);
}

.tenis-colecao {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
}

.btn-colecao {
  width: 150px;
  height: 50px;
  align-items: center;
  background-color: var(--color-text);
  color: var(--bg-color);
  font-weight: 700;
  margin-left: 70px;
  border-radius: 50px;
  border: 1px solid var(--color-text-secondary);
  font-size: 1.3rem;
  margin-top: 30px;
}

.btn-colecao:hover {
  background-color: var(--bg-color);
  color: var(--color-text);
  border: 1px solid var(--color-text-secondary);
}

/* footer */

.container-footer {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  background-color: var(--bg-color);
  margin-top: 100px;
}

.footer-nike-club {
  text-align: center;
  color: var(--color-text);
}

.logo-nike-footer {
  width: 150px;
  height: 150px;
  margin-left: 100px;
}

.links-footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
}

.links-footer:hover {
  transform: scale(1.3);
}

.links {
  margin-top: 20px;
}

/* Smartphone */

@media screen and (max-width: 767px) {
  #btn-mobile {
    display: block;

  }
  
  #menu {
    display: block;
    /* display: none; */
    position: absolute;
    width: 100%;
    transition: .6s;
    top: 70px;
    left: 0px;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;

  }

  #nav.active #menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
   }

  #menu .links-container{
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid var(--color-text);
  margin-top: 30px;
  
  }

  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    color: var(--color-text);
    cursor: pointer;
    gap: .5rem;
  }

  #hamburguer {
    border-top: 2px solid;
    width: 20px;
    color: var(--color-text);
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
    
  }

  #nav.active #hamburguer {
    border-top-color: transparent;

  }

  .logo {
    display: block;
  }

  .container-principal {
    display: block;
  }

  .conteudo-1 {
    display: grid;
    justify-content: center;
    margin-top: 300px;
  }

  .btn-comprar {
    width: 100%;
  }

  .img-tenis {
    display: flex;
    justify-content: center;
    width: 250px;
    margin-top: 30px;
  }

  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tenis-img {
    display: flex;
    justify-content: center;
  }

  .titulo-novidades {
    text-align: center;
  }

  .titulo-colecao {
    display: flex;
    justify-content: center;
  }

  .conteudo-3 {
    display: grid;
    justify-content: center;
  }
}

/* Tablete */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    display: none;
  }

  .container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .conteudo-1 {
    display: grid;
    justify-content: center;
  }
}